@model MaoNaMassa.Web.ViewModels.Contracts.SingleContractViewModel

<div id="upload-work" class="zoom-anim-dialog mfp-hide small-dialog-1">

    <!--Tabs -->
    <div class="sign-in-form">

        <ul class="popup-tabs-nav">
            <li><a href="#tab1">Enviar Contrato</a></li>
        </ul>

        <div class="popup-tabs-container">

            <!-- Tab -->
            <div class="popup-tab-content" id="tab">

                <!-- Welcome Text -->
                <div class="welcome-text">
                    <h3>Submeta o contrato em pdf devidamente assinado.</h3>
                </div>

                <form id="upload-work-form" enctype="multipart/form-data" asp-action="UploadWork" asp-controller="Contracts">
                    <!-- Upload Button -->
                    <div class="uploadButton margin-top-0">
                        <input class="uploadButton-input" name="attachment" type="file" accept="image/*, application/pdf" id="upload" multiple />
                        <label class="uploadButton-button ripple-effect margin-bottom-15" for="upload">Procurar Arquivo</label>
                    </div>

                    <input hidden name="contractId" value="@Model.Id" />

                </form>

                <!-- Button -->
                @*<button class="margin-top-15 button w-100 button-sliding-icon ripple-effect" type="submit" form="upload-work-form">Enviar <i class="icon-material-outline-arrow-right-alt"></i></button>*@
                <a href="#wait-warning" class="button popup-with-zoom-anim apply-now-button ripple-effect move-on-hover full-width margin-bottom-20"><span>Enviar</span></a>

            </div>
        </div>
    </div>
</div>


<div id="wait-warning" class="zoom-anim-dialog mfp-hide small-dialog-1">

    <!--Tabs -->
    <div class="sign-in-form">

        <ul class="popup-tabs-nav">
            <li><a href="#tab1">Aviso</a></li>
        </ul>

        <div class="popup-tabs-container">

            <!-- Tab -->
            <div class="popup-tab-content" id="tab">

                

                 @if (this.User.IsInRole("Employer"))
                 {
                    <div class="welcome-text">
                        <h3>Parabéns! Seu documento foi entregue. <br> <br>Espere a submissão do contrato por parte do Freelancer para que você receba o trabalho.</h3>
                    </div>
                 } 
                 else
                 {
                     <div class="welcome-text">
                         <h3>Parabéns! <br> <br> Agora, você poderá pôr a mão na massa!</h3>
                    </div>
                 }

                <button class="margin-top-15 button w-100 button-sliding-icon ripple-effect" type="submit" form="upload-work-form">Confirmar <i class="icon-material-outline-arrow-right-alt"></i></button>
            </div>
        </div>
    </div>
</div>